<div class="container-fluid full-height d-flex justify-content-center align-items-center">
    <div class="card w-50">
      <div class="card-body">
        <h5 class="card-title">Usuários Cadastrados</h5>
        <h6 class="card-subtitle mb-2 text-muted">Quantidade</h6>
        <p class="card-text">{{ getLenOfUsers() }}</p> 
        <h5 class="card-title">Usuários por Função</h5>
        <h6 class="card-subtitle mb-2 text-muted">Tabela</h6>
        <table class="table">
          <thead>
            <tr>
              <th>Função</th>
              <th>Quantidade</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of roleList">
              <td>{{ role }}</td>
              <td>{{ getUsersByRole(role).length }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
